@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$posh-writing: 'Pacifico', cursive;
$the-red: #FF585D;
$the-grey: #484848;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.home-nav{
  position: absolute;
  top: 0;
  width: 100%;
  // background: $the-grey;
  // backdrop-filter: blur(50px);
  font-size: 1.8rem;
  #main-logo{
    font-size: 2rem;
  }
  a{
    transition: 0.4s ease-in-out;
    color: white !important;
  }
  a:hover{
    transform: scale(1.05);
  }
}

//* Homepage
.home {
  display: flex;
  flex-direction: column;
    .main-header{
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: $the-red;
      font-weight: bold;
      font-size: 6em;
      font-family: $posh-writing;
    }
  .slogan{
    margin: 70px 10px 90px 10px;
    text-align: center;
  }
  .second-hero{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 90px;
    img {
      width: 40%;
      border-radius: 10px;
    }
    .second-hero-text{
      margin-right: 70px;
    }
    #hero-title{
      font-size: 1.5rem;
    }
  }
}

//* Register page
.register-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120vh;
  .register-form{
    width: 30%;
    .row-register{
      display: flex;
      justify-content: space-between;
    }
    .form-group-register{
      display: flex;
      flex-direction: column;
      margin: 20px 0 20px 0;
      .main-input{
        border: none;
        border-bottom: 1px solid black;
        outline: none;
      }
      .upload-wrapper{
        margin-top: 50px;
        i {
          margin-left: 10px;
          color: green;
          font-size: 1.2rem;
        }
      }
    }
    button{
      width: 100%;
      border: none;
      padding: 10px;
      border-radius: 10px;
      background: $the-red;
      color: white;
      font-weight: bold;
    }
  }
}

//* login page
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  label{
    font-size: 0.8;
    color: rgb(94, 94, 94);
    border-bottom: 1px solid black;
  }
  input{
    margin: 10px;
    width: 30%;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: none;
  }
  .submit-login{
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    background: $the-red;
    color: white;
    transition: 0.5s ease-in-out;
    text-align: center;
  }
  .submit-login:hover{
    transform: scale(1.05);
  }
}

//*Maps-Index
.app-nav {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 1.2rem;
  .right-icons{
    background-color: white;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    transition: 0.4s ease-in-out;
  }
  .right-icons:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .left-icons{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    transition: 0.4s ease-in-out;
  }
  .left-icons:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}


//? Icon Markers
.mark-icon{
  i {
    color: $the-red;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
  }
  i:hover {
    transform: scale(1.5);
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
}

//* Add location Form
.add-location-frm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .add-loc-frm-group{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    input{
      margin-top: -3px;
      border: none;
      border-bottom: 1px solid black;
      outline: none;
    }
    margin-bottom: 20px;
    .add-loc-img-upload{
      border: none;
    }
    select{
      border: none;
      border-bottom: 1px black solid;
      padding: 10px;
    }
    textarea{
      padding: 10px;
    }
  }
  button{
    width: 80%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.7s ease-in-out;
    background: $the-red;
    color: white;
    font-weight: bold;
  }
  button:hover{
    transform: scale(1.05);
  }
}

.info-modal {
  left: 25%;
  animation: slide-in 0.7s ease-in !important;
  .modal-info-header{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    line-height: 1.2rem;
    font-size: 1.3rem;
    i {
      margin-left: 290px;
    }
  }
  .main-ratings{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    .rating-header{
      font-size: 0.9rem;
      color: $the-red;
    }   
    .price-header{
      font-size: 0.9rem;
      margin-top: 5px;
      color: grey;
      i {
        padding: 0 1px 0 1px;
      }
      margin-bottom: -5px;
    } 
  }

  .short-info {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
    line-height: 2.4rem;
    .loc-type{
      font-weight: bold;
    }
    .opening-times{
      font-size: 1.5rem;
      color: rgb(157, 157, 157);
    }
  }
  .modal-address{
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      margin-right: 20px;
    }
  }
  .main-address-modal{
    // line-height: 0.3rem;
    // margin-top: 30px;
    font-size: 0.8rem;
  }
  .modal-description{
    p {
      font-size: 0.9rem;
    }
    span {
      font-size: 1rem;
      color: gray;
    }
  }
  .modal-gallery{
    display: flex;
    justify-content: center;
    width: 100%;
    img {
      border-radius: 10px;
      width: 100%;
      margin: 10px;
      overflow-x: scroll;
      transition: 0.7s ease-in-out;
    }
    img:hover{
      transform: scale(1.9);
    }
  }
  .comments {
    .comment{
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      .comment-rating{
        color: $the-red;
      }
      img {
        width: 70px;
        height: 70px;
        border-radius: 100px;
      }
      .main-text{
        margin: 10px 100px 10px 0;
        margin-right: 100px;
      }
      .poster{
        color: grey;
        font-size: 0.8rem;
      }
    }
    .submit-comment{
      width: 100%;
      border-radius: 10px;
      border: none;
      padding: 10px;
      transition: 0.5s ease-in-out;
      background: $the-red;
      color: white;
      font-weight: bold;
    }
    .submit-comment:hover{
      transform: scale(1.01);
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    }
  }
  .add-comment{
    margin-top: 30px;
    h5 {
      margin-bottom: 20px;
    }
    .form-comment{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
    outline: none;
    .form-comment-rating{
      color: $the-red;
    }
    .main-comment-text{
      // border: none;
      overflow: auto;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    }
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.favourites-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  .favourites-single{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    // border: 1px solid rgb(135, 135, 135);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    .fav-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      i{
        font-size: 1.6rem;
      }
    }
    .rating-header{
      color: $the-red;
    }   
    .fav-short-text{
      color: gray;
    }
    .fav-descript{
      margin-top: 20px;
      font-size: 0.9rem;
    }
  }
}

//* Toasts
.Toastify__toast--success{ 
  background: $the-grey !important;
  color: white;
  font-weight: bold;
}