@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$posh-writing: 'Pacifico', cursive;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.home-nav{
  position: absolute;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  font-size: 1.4rem;
  a{
    transition: 0.4s ease-in-out;
  }
  a:hover{
    transform: scale(1.05);
  }
}

//* Homepage
.home {
  display: flex;
  flex-direction: column;
    .main-header{
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: white;
      font-weight: bold;
      font-size: 4em;
      font-family: $posh-writing;
    }
  .slogan{
    margin: 70px 10px 90px 10px;
    text-align: center;
  }
  .second-hero{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 90px;
    img {
      width: 40%;
      border-radius: 10px;
    }
    .second-hero-text{
      margin-right: 70px;
    }
    #hero-title{
      font-size: 1.5rem;
    }
  }
}

//* Register page
.register-form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  button {
    background: #1F5E84;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 8px;
    transition: 0.7s;
  }
  button:hover {
    background: #236791;
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-decoration: rgb(12, 8, 224);
  }
  .upload-profile{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    input {
      padding: 10px;
      border: 1px solid rgb(193, 193, 193);
      border-radius: 5px;
      button {
        background-color: red;
      }
    }
  }
}

//*Maps-Index
.app-nav {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 1.2rem;
  .right-icons{
    background-color: white;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    transition: 0.4s ease-in-out;
  }
  .right-icons:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .left-icons{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    transition: 0.4s ease-in-out;
  }
  .left-icons:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}


//? Icon Markers
.mark-icon{
  i {
    color: red;
    font-size: 2rem;
    transition: 0.4s ease-in-out;
  }
  i:hover {
    transform: scale(1.5);
  }
}

.add-mdl-form{
  padding: 20px;
  .add-frm-grp{
    margin: 7px;
  }
  .submit-add-form{
    width: 100%;
    margin-top: 50px;
  }
}

.info-modal {
  left: 25%;
  animation: slide-in 0.7s ease-in !important;
  .modal-info-header{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    line-height: 1rem;
    font-size: 1.5rem;
    i {
      margin-left: 290px;
    }
  }
  .rating-header{
    font-size: 0.9rem;
  }
  .short-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    line-height: 2.4rem;
    .loc-type{
      font-weight: bold;
    }
    .opening-times{
      font-size: 1.5rem;
      color: rgb(157, 157, 157);
    }
  }
  .modal-address{
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      margin-right: 20px;
    }
  }
  .modal-description{
    p {
      font-size: 0.9rem;
    }
    span {
      font-size: 1rem;
      color: gray;
    }
  }
  .modal-gallery{
    display: flex;
    justify-content: center;
    width: 100%;
    img {
      border-radius: 10px;
      width: 100%;
      margin: 10px;
      overflow-x: scroll;
    }
  }
  .comments {
    .comment{
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      img {
        width: 70px;
        height: 70px;
        border-radius: 100px;
      }
      .main-text{
        margin: 10px 100px 10px 0;
        margin-right: 100px;
      }
      .poster{
        color: grey;
        font-size: 0.8rem;
      }
    }
    .submit-comment{
      width: 100%;
      border-radius: 10px;
      border: none;
      padding: 10px;
      transition: 0.5s ease-in-out;
    }
    .submit-comment:hover{
      transform: scale(1.01);
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    }
  }
  .add-comment{
    margin-top: 30px;
    h5 {
      margin-bottom: 20px;
    }
    .form-comment{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
    }
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}